body{
	background-color: #ffebd6;
	margin: 0;
	padding: 0;
}

@font-face{
	font-family: 'YaHei';
	src: url('../fonts/Yahei.Consolas.Hybrid.ttf');
}

nav img{
	float: left;
	width: 29px;
	margin: 10px 0 0 83px;
}

.site-nav{
	width: 100%;
	height: 65px;
	margin: 0;
	padding: 0;
	background-color: #de2c4a;
}

.site-nav ul{
	margin: 0;
	padding: 0;
}

ul div{
	padding: 20px 150px 0 0;
}

.site-nav ul li{
	list-style: none;
	font-family: 'YaHei', serif;
	font-size: 20px;
	color: #FFD5AB;
	width: 100px;
	float: right;
	margin-right: 20px;
	cursor: pointer;
}

.site-nav ul li:hover{
	color: rgb(240, 235, 220);
}

.container{
	max-width: 1280px;
	margin: auto;
}

#headbox{
	margin-bottom: -4px;
}

.content{
	margin-bottom: -4px;
}


#img4{
	width: 510px;
}

.main-area{
	float: left;
	width: 510px;
	height: 300px;
	margin: 0 0 20px 112px;
}

.side-bar{
	float: right;
	width: 510px;
	height: 300px;
	margin: 0 112px 20px 0;
}
.text{
	width: 510px;
	font-family: 'YaHei';
	font-size: 14px;
	color: #FE3D8A;
}

.text p{
	line-height: 26px;
}

#text1{
	margin-top: 42px;
}

#text2{
	margin-top: 57px;

}

#text3{
	margin-top: 49px;
}

#text4{
	margin-top: 91px;
}

.clear{
	clear: both;
}

.under{
	background-color: #fff2e4;
}

.center-img{
	position: relative;
	width: 666px;
	margin: auto;
}

#howtoeat{
	width: 666px;
	margin: 24px 0 26px 0;
}

.info{
	font-family: 'YaHei';
	font-size: 14px;
	color: #FE3D8A;
}

.info p{
	margin: 0;
	padding: 26px 0 11px 0;
}

footer{
	height: 52px;
	background-color: #ff95c0;
}
